<html>
	<head>
		 <!-- Bootstrap -->
    	<link href="{{url "/themes/default/public/css/bootstrap.min.css"}}" rel="stylesheet" >
	</head>
	<body>

	{{include header}}

	<div>
		{{include body}}
	</div>
	<div>
		{{include footer}}
	</div>
	</body>
</html>